<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.mimaraslan"/> 

	<bean id="aService" class="com.mimaraslan.service.AService" />
	<bean id="bService" class="com.mimaraslan.service.BService" />
	<bean id="cService" class="com.mimaraslan.service.CService" />
	<bean id="messageProcessor" class="com.mimaraslan.service.MessageProcessorImpl">
		<property name="myService" ref="aService"></property>
	</bean>

</beans>