### Java ###
*.class
*.jar
*.war
*.ear
.mtj.tmp/
hs_err_pid*

### Package Files ###
*.nar
*.zip
*.tar.gz
*.rar

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
.mvn/*
.mvn/wrapper/*
mvnw

### Eclipse ###
.metadata
.classpath
.project
.settings/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

### STS ###
mvnw.*
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.idea/
*.iml
*.ipr
*.iws
out/
.idea_modules/
/.idea
.project
.classpath

### NetBeans ###
nbactions.xml
nb-configuration.xml
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

### BlueJ files ### 
*.ctxt

### Log file ### 
*.log

### OS X ### 
.DS_Store
Thumbs.db

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
*.launch
.settings/
*.sublime-workspace
.c9/

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# Angular
/node_modules
/dist
package-lock.json
